*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-text:       #FFFFFF;
    --color-primary:    #4CC9F0;
    --color-secondary:  #3A0CA3;
    --color-background: #100C43;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 56px;
}
html,
input,
textarea,
button {
    font-family: 'Inter', sans-serif;
}

body {
    color: var(--color-text);
    background-color: var(--color-background);
}

section {
    padding: 32px 32px 32px;
    transform-style: preserve-3d;
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: var(--color-primary);
}

h3 {
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: normal;
}

h4 {
    font-size: 1.25rem;
    color: var(--color-primary);
}

h5 {
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: normal;
    color: var(--color-primary);
}

p {
    margin-bottom: 1rem;
    line-height: 1.375rem;
}

a {
    color: var(--color-primary);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--color-text);
    text-decoration: underline;
}

label {
    display: block;
    font-weight: bold;
}

input,
textarea {
    margin-bottom: 1rem;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--color-text);
    background-color: transparent;
    border: 1px solid var(--color-primary);
}

textarea {
    height: 10rem;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    cursor: pointer;
}

.button-primary,
.button-secondary {
    position: relative;
    display: block;
    padding: 12px;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    transition: background-color 300ms ease,
                transform 300ms ease;
}

.button-secondary {
    color: var(--color-primary);
    background-color: transparent;
    border: 1px solid var(--color-primary);
}

.button-primary:hover {
    text-decoration: none;
    color: var(--color-secondary);
    background-color: var(--color-text);
    animation: bounce 500ms cubic-bezier(.46,.25,.15,1.28) forwards;
}

.button-secondary:hover {
    text-decoration: none;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    animation: bounce 500ms cubic-bezier(.46,.25,.15,1.28) forwards;
}

#main-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px 16px;
    height: 56px;
    z-index: 99;
    transition: background-color 300ms;
}

#main-header.scrolled {
    background-color: var(--color-background);
}

#header-logo a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 128px;
}

#header-logo a:hover {
    text-decoration: none;
}

#header-logo a img {
    height: 40px;
    margin-right: 16px;
}

#main-header a h1 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: var(--color-text);
}

#main-header .menu-toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 56px;
    height: 56px;
    background-color: transparent;
}

#main-header .menu-toggle span {
    display: block;
    margin: 0 auto;
    width: 1.5rem;
    height: 0.125rem;
    background-color: var(--color-primary);
    transform-origin: center;
    transition: transform 300ms ease;
}

#main-header .menu-toggle span + span {
    margin-top: 6px;
}

#main-header nav.active .menu-toggle span:nth-child(1) {
    transform: rotate(45deg) translate(6px, 5px);
}

#main-header nav.active .menu-toggle span:nth-child(2) {
    transform: scaleX(0);
}

#main-header nav.active .menu-toggle span:nth-child(3) {
    transform: rotate(-45deg) translate(6px, -5px);
}

#main-header nav ul {
    position: absolute;
    top: 56px;
    right: 0;
    list-style-type: none;
    background-color: var(--color-secondary);
    transform: translateX(100%);
    transition: transform 300ms ease;
}

#main-header nav.active ul {
    transform: translateX(0);
}

#main-header nav ul a {
    display: block;
    padding: 16px 40px;
}

.section-container {
    margin: 0 auto;
    max-width: 1200px;
}

.hero-about-container {
    background-image: radial-gradient(42.14% 43.54% at 92.14% 9.63%, #3A0CA3 0%, #100C43 100%);
    background-repeat: no-repeat;
}

.hero-about-container img {
    display: block;
    position: relative;
    margin: 0 auto 32px;
    max-height: 72.5vw;
}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 88px;
}

#hero h2 {
    margin: 0;
    font-size: 1rem;
    color: var(--color-text);
}

#hero :is(h2, p) {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.25;
}

.works {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.work-item__image {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    background-color: #FFFFFF;
}

.work-item__description {
    background-color: var(--color-secondary);
    padding: 16px;
}

.work-item__description span {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0.125rem 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--color-primary);
}

.work-item__description span::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    opacity: 0.25;
    pointer-events: none;
}

.work-item__description span + span {
    margin-left: 0.5rem;
}

@media screen and (min-width: 768px) {
    section {
        min-height: 100vh;
    }

    .hero-about-container .main-logo {
        position: fixed;
        top: 50%;
        transform: translateY(-50%);
    }

    #hero {
        container-type: normal;
        display: flex;
        justify-content: flex-end;
    }

    #hero .hero-text {
        width: 62%;
    }

    #hero h2,
    #hero p {
        font-size: 3cqw;
    }
}

@keyframes bounce {
    0% {
        scale: 1;
        transform: perspective(1000px) rotateX(0);
    }
    25% {
        transform: perspective(1000px) rotateX(25deg);
    }
    50% {
        scale: 1.1;
    }
    75% {
        transform: perspective(1000px) rotateX(-25deg);
    }
    100% {
        scale: 1.05;
        transform: perspective(1000px) rotateX(0);
    }
}