*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --max-width: 1440px;
    --color-text-rgb:       255 255 255;
    --color-primary-rgb:    76 201 240;
    --color-secondary-rgb:  58 12 163;
    --color-background-rgb: 16 12 67;
    --color-text:           rgb(var(--color-text-rgb));
    --color-primary:        rgb(var(--color-primary-rgb));
    --color-secondary:      rgb(var(--color-secondary-rgb));
    --color-background:     rgb(var(--color-background-rgb));
}

html {
    overscroll-behavior: none;
}

html,
input,
textarea,
button {
    font-family: 'Inter', sans-serif;
}

body {
    background: var(--color-background);
    color: var(--color-text);
    scroll-snap-type: y mandatory;
}

section {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0 auto;
    padding: 88px 32px 32px;
    max-width: var(--max-width);
    min-height: 100vh;
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 2.5rem;
    color: var(--color-primary);
}

h3 {
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: normal;
}

h4 {
    font-size: 1.25rem;
    color: var(--color-primary);
}

h5 {
    margin-bottom: 0.75rem;
    font-size: 1rem;
    font-weight: normal;
    color: var(--color-primary);
}

p {
    margin-bottom: 1.5rem;
    line-height: 1.5rem;
}

a {
    color: var(--color-primary);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: var(--color-text);
    text-decoration: underline;
}

img {
    max-width: 100%;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

input,
textarea {
    margin-bottom: 1.5rem;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    color: var(--color-text);
    background-color: transparent;
    border: 1px solid var(--color-primary);
}

textarea {
    height: 10rem;
}

button {
    display: block;
    width: 100%;
    padding: 12px;
    border: none;
    cursor: pointer;
}

.layout-container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
}

.hidden {
    display: none;
}

.button-primary,
.button-secondary {
    position: relative;
    display: block;
    padding: 12px;
    min-width: 256px;
    width: 100%;
    font-size: 1.25rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    background-image: radial-gradient(circle closest-side, #FFF 98%, transparent 100%);
    background-size: 0 0;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 300ms ease;
}

.button-secondary {
    color: var(--color-primary);
    background-color: transparent;
    background-image: radial-gradient(circle closest-side, var(--color-primary) 98%, transparent 100%);
    border: 1px solid var(--color-primary);
}

.button-primary:hover,
.button-secondary:hover {
    text-decoration: none;
    color: var(--color-secondary);
    background-size: 600% 600%;
}

@media (min-width: 768px) {
    h2 {
        font-size: 3.5rem;
    }

    .button-primary,
    .button-secondary {
        width: 256px;
    }
}

/*
*  HEADER
*/

#main-header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 8px 0 8px 16px;
    height: 56px;
    z-index: 99;
    transition: background-color 300ms;
}

#main-header::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    transition: transform 300ms ease;
}

#main-header .layout-container {
    display: flex;
    justify-content: space-between;
    position: static;
    padding: 0;
}

#main-header #header-logo {
    position: relative;
    transform: translateY(calc(-100% - 16px));
    transition: transform 300ms ease;
}

.past-hero #main-header {
    backdrop-filter: blur(20px);
}

.past-hero #main-header::before,
.past-hero #main-header #header-logo {
    transform: translateY(0);
}

.past-hero #main-header #header-logo {
    display: block;
}

#header-logo a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 128px;
}

#header-logo a:hover {
    text-decoration: none;
}

#header-logo a img {
    height: 40px;
    margin-right: 16px;
}

#main-header a h1 {
    font-size: 1.25rem;
    line-height: 1.25rem;
    color: var(--color-text);
}

#main-header nav ul {
    position: relative;
    list-style-type: none;
}

@media screen and (max-width: 767px) {
    #main-header .menu-toggle {
        position: absolute;
        top: 0;
        right: 0;
        width: 56px;
        height: 56px;
        background-color: transparent;
    }
    
    #main-header .menu-toggle span {
        display: block;
        margin: 0 auto;
        width: 1.5rem;
        height: 0.125rem;
        background-color: var(--color-primary);
        transform-origin: center;
        transition: transform 300ms ease;
    }
    
    #main-header .menu-toggle span + span {
        margin-top: 6px;
    }
    
    #main-header nav.active .menu-toggle span:nth-child(1) {
        transform: rotate(45deg) translate(6px, 5px);
    }
    
    #main-header nav.active .menu-toggle span:nth-child(2) {
        transform: scaleX(0);
    }
    
    #main-header nav.active .menu-toggle span:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -5px);
    }
    
    #main-header nav ul {
        position: absolute;
        top: 56px;
        right: 0;
        background-color: rgb(var(--color-background-rgb) / 0.85);
        transform: translateX(100%);
        transition: transform 300ms ease;
        backdrop-filter: blur(5px);
    }
    
    #main-header nav.active ul {
        transform: translateX(0);
    }

    #main-header nav ul a {
        display: block;
        padding: 16px 40px;
    }
}

@media (min-width: 768px) {
    #main-header .menu-toggle {
        display: none;
    }

    #main-header nav {
        height: 100%;
    }

    #main-header nav ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    #main-header nav li,
    #main-header nav a {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        color: var(--color-primary);
    }

    #main-header nav a {
        position: relative;
        padding: 8px;
        color: var(--color-text);
        background-image: radial-gradient(circle closest-side, rgb(var(--color-primary-rgb) / 100) 98%, rgb(var(--color-primary-rgb) / 0) 100%);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 0 0;
        transition: background-size 500ms ease,
                    color 300ms ease;
    }

    #main-header nav a:hover {
        text-decoration: none;
        color: var(--color-secondary);
        background-size: 300% 300%;
    }

    #main-header nav li + li::before {
        content: '▪';
        padding: 0 8px;
    }
}

/*
*  ANIMATED BACKGROUND
*/

.background {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200vh;
    background-image: radial-gradient(40% 40% at 92.14% 9.63%, #3A0CA3 0%, #100C43 100%);
    background-repeat: no-repeat;
    z-index: 0;
}

.background .ripples-container {
    position: relative;
    padding: 0 32px;
    width: 100%;
    max-width: var(--max-width);
}

.background .ripples {
    position: absolute;
    top: 55.555vw;
    display: grid;
    place-content: center;
    max-width: var(--max-width);
    height: 100vh;
    transform: translateX(-50%) translateY(-50%);
}

.past-hero .background .ripples {
    transform: translateX(var(--translate-amount, -50%));
}

.background .ripple {
    --animation-delay: 0s;
    width: 100vw;
    height: 100vh;
    grid-area: 1/1;
    background-image: radial-gradient(circle closest-side, rgba(105, 92, 255, 0) 41.33%, rgba(105, 92, 255, 0.2) 48.58%, rgba(105, 92, 255, 0) 50%);
    background-repeat: no-repeat;
    animation: ripples 15s ease-out infinite;
    animation-delay: calc(3s * var(--i));
    opacity: 0;
}

.background .fade {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 200vh;
    grid-area: 1/1;
    background-image: linear-gradient(90deg, rgba(16, 12, 67) 25%, rgba(16, 12, 67, 0) 50%);
    z-index: 1;
}

@media (min-width: 768px) {
    .background .ripples {
        top: auto;
        transform: translateX(-50%);
        transition: transform 1s ease-in-out;
    }
}

/*
*  HERO / ABOUT
*/

#hero-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    max-width: 100vw;
    height: 200vh;
}

#hero {
    padding: 0;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
}

#hero .hero-content {
    position: sticky;
    top: 0;
    margin: 0 auto;
    padding: 32px;
    width: 100%;
    height: 100%;
    max-width: var(--max-width);
}

#hero .hero-text {
    transition: opacity 300ms 500ms linear;
}

#hero h2 {
    margin: 32px 0 0;
    font-size: 1rem;
    color: var(--color-text);
}

#hero :is(h2, p) {
    font-size: clamp(1.5rem, 3.8vw, 3.5rem);
    font-weight: bold;
    line-height: 1.25;
}

.hero-image {
    position: relative;
    width: 100%;
    background-image: url('../img/logo.webp');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: contain;
    mask-image: url('../img/profile-mask.webp');
    mask-position: 0 0;
    mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-image: url('../img/profile-mask.webp');
    -webkit-mask-position: 0 0;
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    transition: background-position 1s ease-in-out,
                mask-position 1s ease-in-out,
                -webkit-mask-position 1s ease-in-out;
}

.hero-image img {
    display: block;
    width: 100%;
    max-width: 577px;
    position: relative;
    z-index: 1;
}

#about-me {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 32px;
    height: 100%;
}

.about-content strong {
    color: var(--color-primary);
}

.about-content .button-secondary {
    margin-top: 2rem;
}

@media (min-width: 768px) {
    #hero {
        position: sticky;
        top: 0;
        display: flex;
        align-items: center;
    }

    #hero .hero-content {
        display: flex;
        align-items: center;
    }

    .hero-image {
        display: flex;
        justify-content: flex-end;
    }

    .past-hero .hero-image {
        background-position: 100% 0;
        mask-position: 100% 0;
        -webkit-mask-position: 100% 0;
    }

    .hero-image img {
        width: 42%;
    }

    .hero-text {
        position: absolute;
        right: 32px;
        width: 63%;
    }

    .past-hero #hero .hero-text {
        opacity: 0;
        transition: opacity 300ms linear;
    }

    .about-content {
        width: 50%;
        opacity: 0;
        transition: opacity 700ms 200ms linear;
    }

    .past-hero .about-content {
        opacity: 1;
    }
    
    .about-text {
        margin-left: 64px;
    }
}

/*
*  WORKS
*/

.works {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.work-item__content {
    display: flex;
    flex-direction: column-reverse;
}

.work-item__image {
    display: block;
    width: 100%;
    aspect-ratio: 1;
    background-color: #FFFFFF;
}

.work-item__description {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    color: var(--color-text);
    background-color: var(--color-secondary);
    padding: 32px;
}

.work-item__description:hover {
    text-decoration: none;
}

.work-item__description p:nth-last-child(2) {
    flex: 2;
}

.work-item__description p:last-child {
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.work-item__description p img {
    margin-left: auto;
}

.work-item__description span {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0.125rem 0.5rem;
    font-size: 0.875rem;
    font-weight: bold;
    color: var(--color-primary);
}

.work-item__description span::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color-primary);
    opacity: 0.25;
    pointer-events: none;
}

.work-item__description span + span {
    margin-left: 0.5rem;
}

@media (min-width: 768px) {
    .works {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: 4.5rem;
    }

    .works .work-item {
        aspect-ratio: 1;
        perspective: 1000px;
        cursor: pointer;
    }

    .works .work-item__content {
        position: relative;
        width: 100%;
        height: 100%;
        box-shadow: 0 0 50px var(--color-secondary);
        transition: transform 500ms ease,
                    box-shadow 500ms ease;
        transition-delay: calc(200ms * var(--i) * var(--toggler));
        transform-style: preserve-3d;
    }

    .works .work-item:hover {
        z-index: 1;
    }

    #my-work.on-viewport .work-item .work-item__content {
        transform: rotateY(-180deg);
        box-shadow: none;
    }

    #my-work.on-viewport .work-item:hover .work-item__content {
        transform: rotateY(0);
        box-shadow: 0 0 50px var(--color-secondary);
    }

    .works .work-item__image,
    .works .work-item__description {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden; /* Safari */
        backface-visibility: hidden;
    }

    .works .work-item__image {
        top: 0;
        aspect-ratio: 1;
        transform: rotateY(180deg);
    }
}

/*
*  CONTACT
*/

section#contact {
    display: flex;
    align-items: center;
    padding: 88px 0 0;
    max-width: 100%;
    background-image: linear-gradient(
                        rgb(var(--color-background-rgb) / 0),
                        var(--color-secondary)
                    );
}

#contact .layout-container {
    padding: 2rem;
}

#contact .contact-social {
    margin-bottom: 2rem;
}

#contact .social-links ul {
    list-style-type: none;
}

#contact .social-links li {
    margin-top: 2.5rem;
}

#contact .social-links a {
    display: flex;
    align-items: center;
    width: 100%;
    color: var(--color-text);
}

#contact .social-links a:hover {
    text-decoration: none;
}

#contact .social-links a:hover img {
    filter: drop-shadow( 0 0 20px rgb( var(--color-primary-rgb) ) );
}

#contact .social-links a:hover span {
    text-decoration: underline;
}

#contact .social-links li .social-info-container {
    display: inline-block;
    padding-left: 1rem;
    width: 100%;
    overflow: hidden;
}

#contact .social-links li .social-info {
    display: grid;
    grid-template-columns: 6rem auto;
    align-items: center;
}

#contact .social-links li .social-info span {
    font-weight: normal;
}

#contact .social-links img {
    width: 3rem;
    z-index: 1;
}

.contact-form ul {
    display: none;
}

#contact .contact-form button {
    order: 3;
    float: right;
    opacity: 0;
}

.contact-visible #contact .contact-form button {
    opacity: 1;
}

.submit-message {
    order: 2;
    text-align: right;
}

@media (min-width: 768px) {
    #contact .layout-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.75rem 3rem;
    }
    
    #contact h2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .contact-social {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 4.5rem;
    }

    .contact-social .social-links li .social-info {
        transform: translateX(calc(-100% - 1rem));
        transition: transform 500ms ease;
        transition-delay: calc(400ms + (100ms * var(--i)));
    }

    .contact-visible .contact-social .social-links li .social-info {
        transform: none;
    }

    .contact-social img {
        opacity: 0;
        transition: opacity 500ms, filter 300ms;
        transition-delay: calc(100ms * var(--i)), 0s;
    }

    .contact-visible .contact-social img {
        transition: opacity 100ms, filter 300ms;
        transition-delay: calc(400ms + (100ms * var(--i))), 0s;
        opacity: 1;
    }

    .submit-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
    }

    .contact-form ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        pointer-events: none;
        visibility: hidden;
    }
    
    .contact-form li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
    }

    .contact-visible .contact-form ul {
        visibility: visible;
    }

    .contact-visible .contact-form li {
        opacity: 0;
        transform: translate(var(--translate-amount)) scale(2.1);
        transition: transform 500ms ease, opacity 100ms;
        transition-delay: calc(100ms * var(--i)), calc(400ms + (100ms * var(--i)));
    }
}

/*
*  FIXED SOCIAL / CONTACT BUTTONS
*/

aside {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 9;
}

aside .layout-container {
    padding: 32px;
}

aside ul {
    display: none;
}

aside a {
    background-image: radial-gradient(circle closest-side, rgb(var(--color-primary-rgb) / 100) 98%, rgb(var(--color-primary-rgb) / 0) 100%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 0 0;
    transition: background-size 500ms ease,
                color 300ms ease;
}

aside a:hover {
    color: var(--color-secondary);
    background-size: 300% 300%;
}

aside svg {
    fill: currentColor;
}

.contact-visible aside {
    visibility: hidden;
    pointer-events: none;
}

@media (min-width: 768px) {
    aside .layout-container {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 16px;
    }

    aside ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
    }

    aside li {
        transition: opacity 500ms;
        transition-delay: calc(100ms * var(--i));
    }

    .contact-visible aside li {
        opacity: 0;
    }
    
    aside li,
    aside li a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
    }

    aside .button-primary {
        max-width: 256px;
    }
}

footer {
    position: relative;
    background: var(--color-secondary);
}

footer .layout-container {
    padding: 0 2rem;
}

footer .layout-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    border-top: 1px solid var(--color-primary);
}

footer .layout-container a {
    display: flex;
    align-items: center;
    font-weight: normal;
    color: var(--color-text);
}

footer .layout-container a:hover {
    text-decoration: none;
    color: var(--color-primary);
}

footer .layout-container a svg {
    margin-right: 8px;
    width: 1.5rem;
}

@keyframes ripples {
    0% {
        transform: scale(1.4);
        opacity: 0;
    }
    10% {
        opacity: .75;
    }
    100% {
        transform: scale(7);
        opacity: 0;
    }
}