---
import Header from "../../components/Header.astro";
import BackgroundRipples from "../../components/BackgroundRipples.astro";
import Hero from "../../components/Hero.astro";
import About from "../../components/About.astro";
import Works from "../../components/Works.astro";
import Contact from "../../components/Contact.astro";
import FixedContact from "../../components/FixedContact.astro";
import Footer from "../../components/Footer.astro";
import { getLangFromUrl } from '../../i18n/utils';
import '@fontsource/inter/400.css';
import '@fontsource/inter/700.css';
import "../../styles/main.css";

const lang = getLangFromUrl(Astro.url);
---

<html lang={lang}>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
    <meta property="og:title" content="Fil Duarte ▪ Designer e desenvolvedor" />
    <meta property="og:image" content="https://filduarte.com.br/portfolio-thumbnail.png" />
    <meta property="og:description" content="Designer e desenvolvedor com 17 anos de experiência em encontrar soluções criativas." />
    <meta property="og:url" content="https://filduarte.com.br" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="627" />
    <meta property="og:type" content="website" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<title>Fil Duarte ▪ Frontend Dev/Designer</title>
</head>

<body>
    <Header />

    <main>
        <BackgroundRipples />
        <section id="hero-about">
            <Hero />
            <About />
        </section>
        <Works />
        <Contact />
        <FixedContact />
    </main>

    <Footer />

    <script>
        import 'https://cdn.jsdelivr.net/gh/studio-freight/lenis@latest/bundled/lenis.js';
        import '../../scripts/script.js';
        import '../../scripts/sendmail.js';
    </script>
</body>
</html>
