---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="about-me">
    <div class="layout-container">
        <div class="about-content">
            <h2>{t('about.title')}</h2>
            <Fragment set:html={t('about.text')}></Fragment>
            <a href={t('about.link')} target="_blank" class="button-secondary">{t('about.button')}</a>
        </div>
    </div>
</section>

<style>
#about-me {
    height: 100%;
}

#about-me .layout-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

strong {
    color: var(--color-primary);
}

.button-secondary {
    margin-top: 2rem;
}

@media (min-width: 768px) {
    .about-content {
        width: 50%;
        opacity: 0;
        transition: opacity 700ms 200ms linear;
    }
    
    .about-text {
        margin-left: 64px;
    }
}
</style>