---
import ContactForm from "../components/ContactForm.astro";
import ContactSocial from "../components/ContactSocial.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="contact">
    <div class="layout-container">
        <h2>{t('contact.title')}</h2>
        <ContactSocial />
        <ContactForm />
    </div>
</section>

<style>
section#contact {
    display: flex;
    align-items: center;
    padding-top: 88px;
    max-width: 100%;
    background-image: linear-gradient(
                        rgb(var(--color-background-rgb) / 0),
                        var(--color-secondary)
                    );
}

@media (min-width: 768px) {
    #contact .layout-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.75rem 3rem;
    }
    
    #contact h2 {
        grid-column-start: 1;
        grid-column-end: 3;
    }
}
</style>