---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<footer>
    <div class="layout-container">
        <div>
            <span>{t('footer.copyright')} &copy; 2023</span>
            <a href="https://github.com/filgduarte/filduarte.com.br" title={t('footer.source')} target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 32 32">
                    <path style="fill:currentColor;" d="M10 24.312c-.318 0-.625-.115-.864-.325l-8-7a1.313 1.313 0 0 1 0-1.975l8-7a1.313 1.313 0 1 1 1.73 1.976L3.992 16l6.871 6.012a1.313 1.313 0 0 1-.864 2.3Zm12 0a1.313 1.313 0 0 1-.865-2.3L28.007 16l-6.871-6.012a1.312 1.312 0 1 1 1.729-1.976l8 7a1.312 1.312 0 0 1 0 1.975l-8 7c-.24.21-.547.326-.865.325Zm-9 3a1.312 1.312 0 0 1-1.257-1.687l6-20a1.312 1.312 0 1 1 2.514.75l-6 20a1.313 1.313 0 0 1-1.257.937Z"/>
                </svg>
                v1.35
            </a>
        </div>
    </div>
</footer>

<style>
footer {
    position: relative;
    padding: 0 2rem;
    background: var(--color-secondary);
}

.layout-container div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0;
    border-top: 1px solid var(--color-primary);
}

svg {
    margin-right: 8px;
    width: 1.5rem;
}

footer a {
    display: flex;
    align-items: center;
    font-weight: normal;
    color: var(--color-text);
}

footer a:hover {
    text-decoration: none;
    color: var(--color-primary);
}
</style>