---
import WorkList from "../components/WorkList.astro";
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="my-work">
    <div class="layout-container">
        <h2>{t('work.title')}</h2>
        <h3>{t('work.subtitle')}</h3>
        <WorkList />
    </div>
</section>