---
import WorkList from "../components/WorkList.astro";
---

<section id="my-work">
    <div class="layout-container">
        <h2>Meu trabalho</h2>
        <h3>Esses são alguns dos meus trabalhos mais recentes.</h3>
        <WorkList />
    </div>
</section>